<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>高三七班蹭饭指南</title>
</head>
<body style='margin: 0'>
<div id='map' style='width:100vw;height: 100vh;'></div>
<link rel="stylesheet" type="text/css" href="./css/index.css">
<script src='./js/highmaps.js'></script>
<script src='./js/drilldown.js'></script>
<script src='./js/nunjucks.min.js'></script>

<script src='./js/china.js'></script>
<script src='./js/zhejiang.js'></script>
<script src='./js/beijing.js'></script>
<script src='./js/jiangsu.js'></script>
<script src='./js/neimenggu.js'></script>
<script src='./js/guangdong.js'></script>
<script src='./js/tianjin.js'></script>
<script src='./js/hebei.js'></script>
<script src='./js/shanxi.js'></script>
<script src='./js/liaoning.js'></script>
<script src='./js/jilin.js'></script>
<script src='./js/heilongjiang.js'></script>
<script src='./js/shanghai.js'></script>
<script src='./js/anhui.js'></script>
<script src='./js/fujian.js'></script>
<script src='./js/jiangxi.js'></script>
<script src='./js/shandong.js'></script>
<script src='./js/henan.js'></script>
<script src='./js/hubei.js'></script>
<script src='./js/hunan.js'></script>
<script src='./js/guangxi.js'></script>
<script src='./js/hainan.js'></script>
<script src='./js/chongqing.js'></script>
<script src='./js/sichuan.js'></script>
<script src='./js/guizhou.js'></script>
<script src='./js/yunnan.js'></script>
<script src='./js/xizang.js'></script>
<script src='./js/shanxi2.js'></script>
<script src='./js/gansu.js'></script>
<script src='./js/qinghai.js'></script>
<script src='./js/ningxia.js'></script>
<script src='./js/xinjiang.js'></script>
<script>
    let students = [
       {name: '李嘉文', school: '大连民族大学（金石滩）', province: '辽宁', city: '大连'},
{name: '丁一格', school: '辽宁大学', province: '辽宁', city: '沈阳'},
{name: '宋佳原', school: '辽宁大学', province: '辽宁', city: '沈阳'},
{name: '谭锦庭', school: '西安石油大学', province: '陕西', city: '西安'},
{name: '阎海灿', school: '大连外国语大学', province: '辽宁', city: '大连'},
{name: '吕霁耕', school: '大连外国语大学', province: '辽宁', city: '大连'},
{name: '孙浩原', school: '东北财经大学', province: '辽宁', city: '大连'},
{name: '刘情', school: '大连工业大学', province: '辽宁', city: '大连'},
{name: '曲晋弘', school: '沈阳农业大学', province: '辽宁', city: '沈阳'},
{name: '李开来', school: '沈阳农业大学', province: '辽宁', city: '沈阳'},
{name: '汪妍', school: '黑龙江科技大学', province: '黑龙江', city: '哈尔滨'},
{name: '李浩天', school: '吉林建筑大学', province: '吉林', city: '长春'},
{name: '唐万羴', school: '辽宁警察学院', province: '辽宁', city: '大连'},
{name: '佟雨霏', school: '辽宁工业大学', province: '辽宁', city: '锦州'},
{name: '杨鑫淼', school: '锦州医科大学', province: '辽宁', city: '锦州'},
{name: '郭玥伶', school: '沈阳师范大学', province: '辽宁', city: '沈阳'},
{name: '裴婧', school: '沈阳工程学院', province: '辽宁', city: '沈阳'},
{name: '王玮萌', school: '辽宁师范大学', province: '辽宁', city: '大连'},
{name: '闵喆', school: '沈阳工程学院', province: '辽宁', city: '沈阳'},
{name: '苏昕', school: '辽宁石油化工大学', province: '辽宁', city: '抚顺'},
{name: '陈冠达', school: '沈阳师范大学', province: '辽宁', city: '沈阳'},
{name: '吕冠豪', school: '辽宁师范大学海华学院', province: '辽宁', city: '大连'},
{name: '崔鸣轩', school: '天津师范大学', province: '天津', city: '东丽区'},
{name: '张译文', school: '南昌工学院', province: '江西', city: '南昌'},
{name: '张潇淇', school: '鲁迅美术学院', province: '辽宁', city: '沈阳'},
{name: '刘明月', school: '长春工业大学人文信息学院', province: '吉林', city: '长春'},
{name: '袁健翔', school: '黑龙江外国语学院', province: '黑龙江', city: '哈尔滨'},
{name: '王之博', school: '浙江传媒学院', province: '浙江', city: '杭州'},
{name: '史鸿涛', school: '辽宁理工学院', province: '辽宁', city: '锦州'},
{name: '王姝焕', school: '沈阳城市学院', province: '辽宁', city: '沈阳'},
{name: '张馨月', school: '辽宁财贸学院', province: '辽宁', city: '兴城'},
{name: '孙文赫', school: '辽宁大学', province: '辽宁', city: '沈阳'},
{name: '邱子洋', school: '辽宁师范大学', province: '辽宁', city: '大连'},
{name: '张子涵', school: '沈阳城市建设学院', province: '辽宁', city: '沈阳'},
{name: '周朕宇', school: '长沙航空职业技术学院', province: '湖南', city: '长沙'},
{name: '刘依凡', school: '辽宁轨道职业学院', province: '辽宁', city: '沈阳'},
{name: '翟洪增', school: '沈阳音乐学院', province: '辽宁', city: '沈阳'},
{name: '郝斓筝', school: '辽宁传媒学院', province: '辽宁', city: '沈阳'},
{name: '刘博宁', school: '四川音乐学院', province: '四川', city: '成都'},
{name: '于海鹏', school: '黑龙江生物科技职业学院', province: '黑龙江', city: '哈尔滨'},
{name: '孟家宁', school: '吉林大学', province: '吉林', city: '长春'},
{name: '胡俸莱', school: '吉林工程职业学院', province: '吉林', city: '长春'},
{name: '姚雨辰', school: '沈阳音乐学院', province: '辽宁', city: '沈阳'},
{name: '王鹤霏', school: '沈阳音乐学院', province: '辽宁', city: '沈阳'},
{name: '李柏扬', school: '沈阳音乐学院', province: '辽宁', city: '沈阳'},
{name: '宋祺悦', school: '四川音乐学院', province: '四川', city: '成都'},
{name: '李若添', school: '鞍山师范学院', province: '辽宁', city: '鞍山'},
{name: '王津硕', school: '大连海洋大学', province: '辽宁', city: '大连'},
{name: '苏羴', school: '东北大学', province: '辽宁', city: '沈阳'},
{name: '李云腾', school: '鞍山师范学院', province: '辽宁', city: '鞍山'},
{name: '邓静宜', school: '沈阳音乐学院', province: '辽宁', city: '沈阳'},
{name: '窦霆依', school: '山东大学', province: '山东', city: '济南'},
{name: '杨蕙竹', school: '辽宁理工学院', province: '辽宁', city: '锦州'},
{name: '张晨', school: '大连民族大学（开发区)', province: '辽宁', city: '大连'},

    ];

    let data = Highcharts.geojson(Highcharts.maps['cn/china']);

    let provinces = {};
    Highcharts.each(data, function (d) {
        provinces[d.name] = d;
        d.drilldown = d.name;
        d.value = 0;
        d.cities = {};
        d.people = [];
    });

    for (let s of students) {
        provinces[s.province].value++;
        provinces[s.province].people.push(s)
    }

    for (let p of Object.values(provinces)) {
        let filename = p.properties.filename;
        if (!Highcharts.maps[`cn/${filename}`]) {
            continue
        }
        let subData = p.subData = Highcharts.geojson(Highcharts.maps[`cn/${filename}`]);
        Highcharts.each(subData, function (city) {
            p.cities[city.name] = city;
            city.value = 0;
            city.people = [];
        });
        for (let s of students) {
            if (p.cities[s.city] !== undefined) {
                p.cities[s.city].value++;
                p.cities[s.city].people.push(s);
            }
        }
    }

    function makeSeries() {
        let series = [];
        for (let p of Object.values(provinces)) {
            if (p.subData) {
                series.push({
                    id: p.name,
                    name: p.name,
                    data: p.subData,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                })
            }
        }
        return series;
    }

    function formatter() {
        let template = `
        <div class="tooltip">
            <div class="series">{{series}}</div>
            <div class="profile">
                <div class="name">{{name}}:</div>
                <div class="value">{{value}}人</div>
            </div>
            {% if name !== '' %}
            <div class="list">
                {% for p in people %}
                <div class="pinfo">
                    <div class="pname">{{p.name}}</div>
                    <div class="city">{{p.city}}</div>
                    <div class="school">{{p.school}}</div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        `;

        return nunjucks.renderString(template, {
            name: this.point.name,
            series: this.series.name,
            value: this.point.value,
            people: this.point.people
        });
    }

    // 初始化图表
    let map = new Highcharts.Map('map', {
            chart: {
                events: {
                    drilldown: function (e) {
                        let name = e.point.name;
                        this.setTitle(null, {text: name});
                    },
                    drillup: function () {
                        data = Highcharts.maps['cn/china'];
                        this.setTitle(null, {
                            text: '沈阳第九中学'
                        });
                    }
                }
            },

            title: {
                text: '高三七班蹭饭指南',
                style: {"color": "#333333", "fontSize": "24px"}
            },

            subtitle: {
                text: '沈阳第九中学',
                floating: true,
                y: 50,
                style: {
                    fontSize: '16px'
                }
            },

            tooltip: {
                useHTML: true,
                backgroundColor: '#357fee',
                borderRadius: 5,
                padding: 12,
                style: {
                    'color': '#dddddd',
                    'cursor': 'default',
                    'fontSize': '14px',
                    'pointerEvents': 'none',
                    'whiteSpace': 'nowrap'
                },
                formatter: formatter
            },

            colorAxis: {
                min: 0,
                max: 50,
                type: 'linear',
                minColor: '#ffffff',
                maxColor: '#006cee',
                stops: [
                    [0, '#ffffff'],
                    [0.02, '#a4d9ee'],
                    [0.04, '#7ebaee'],
                    [0.1, '#357fee'],
                    [0.5, '#0c70ee'],
                    [1, '#006cee']
                ]
            },

            series: [{
                data: data,
                name: '各省人数',
                joinBy: 'name',
                tooltip: {
                    pointFormat: `{point.name}: {point.value}`
                }
            }],

            drilldown:
                {
                    activeDataLabelStyle: {
                        color: '#FFFFFF',
                        textDecoration:
                            'none',
                        textShadow:
                            '0 0 3px #000000'
                    }
                    ,
                    drillUpButton: {
                        relativeTo: 'spacingBox',
                        position:
                            {
                                x: 0,
                                y:
                                    60
                            }
                    }
                    ,
                    series: makeSeries()
                }
            ,

            mapNavigation: {
                enabled: true,
                buttonOptions:
                    {
                        verticalAlign: 'bottom'
                    }
            }
        })
    ;
</script>

</body>
</html>